<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPVP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <GPVP.Properties.Settings>
            <setting name="ShortLength" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="MediumLength" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="LongLegth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PageNumberToCache" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ApiDataString" serializeAs="String">
                <value>data</value>
            </setting>
            <setting name="ApiVideoString" serializeAs="String">
                <value>videos</value>
            </setting>
            <setting name="ApiPaginationString" serializeAs="String">
                <value>pagination</value>
            </setting>
        </GPVP.Properties.Settings>
    </applicationSettings>
</configuration>