<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GPVP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPVP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <GPVP.Properties.Settings>
            <setting name="ShortLength" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="MediumLength" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="LongLegth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ApiDataString" serializeAs="String">
                <value>data</value>
            </setting>
            <setting name="ApiVideoString" serializeAs="String">
                <value>videos</value>
            </setting>
            <setting name="ApiPaginationString" serializeAs="String">
                <value>pagination</value>
            </setting>
            <setting name="PageNumberToCache" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BaseAddress" serializeAs="String">
                <value>https://pt.potawe.com</value>
            </setting>
        </GPVP.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <GPVP.Properties.Settings>
      <setting name="StaticAddress" serializeAs="String">
        <value>/api/video-promotion/v1/list?psid=dobokocka&amp;pstool=421_1&amp;accessKey=6f693a549638e75423bd71e0ee4dc7b0&amp;ms_notrack=1&amp;campaign_id=&amp;type=&amp;sexualOrientation=straight&amp;forcedPerformers=&amp;primaryColor=%238AC437&amp;labelColor=%23212121&amp;limit=25</value>
      </setting>
    </GPVP.Properties.Settings>
  </userSettings>
</configuration>